<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e98b7c">  <td>23/07/07 15:32:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestClass_ProofFileDwnld.logoutFromAEPS_RT()[pri:0, instance:test_Pack.TestClass_ProofFileDwnld@63a12c68]">&lt;&lt;logoutFromAEPS_RT</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="85bfbb">  <td>23/07/07 15:31:10</td>   <td>-73350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass_AdjFileDownload.fraudAdjustmentRepoDownload()[pri:0, instance:test_Pack.TestClass_AdjFileDownload@49c7b90e]">fraudAdjustmentRepoDownload</td> 
  <td>main@1132307065</td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>23/07/07 15:32:23</td>   <td>-18</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestClass_ProofFileDwnld.setup()[pri:0, instance:test_Pack.TestClass_ProofFileDwnld@63a12c68]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1132307065</td>   <td></td> </tr>
<tr bgcolor="a2befb">  <td>23/07/07 15:31:06</td>   <td>-77048</td> <td title="&gt;&gt;BaseClass.setUpSuite()[pri:0, instance:test_Pack.TestClass_AdjFileDownload@49c7b90e]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1132307065</td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>23/07/07 15:32:23</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass_ProofFileDwnld.RiskTeamAutomation()[pri:0, instance:test_Pack.TestClass_ProofFileDwnld@63a12c68]">RiskTeamAutomation</td> 
  <td>main@1132307065</td>   <td></td> </tr>
<tr bgcolor="85bfbb">  <td>23/07/07 15:32:17</td>   <td>-5576</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestClass_AdjFileDownload.logoutFromAEPS()[pri:0, instance:test_Pack.TestClass_AdjFileDownload@49c7b90e]">&lt;&lt;logoutFromAEPS</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1132307065</td>   <td></td> </tr>
<tr bgcolor="85bfbb">  <td>23/07/07 15:31:06</td>   <td>-77033</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestClass_AdjFileDownload.setup()[pri:0, instance:test_Pack.TestClass_AdjFileDownload@49c7b90e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1132307065</td>   <td></td> </tr>
</table>
