<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85bfbb">  <td>23/07/17 13:49:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestClass_ProofFileDwnld.logoutFromAEPS_RT()[pri:0, instance:test_Pack.TestClass_ProofFileDwnld@759d26fb]">&lt;&lt;logoutFromAEPS_RT</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1678046232</td>   <td></td> </tr>
<tr bgcolor="85bfbb">  <td>23/07/17 11:34:36</td>   <td>-8093008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass_ProofFileDwnld.RiskTeamAutomation()[pri:0, instance:test_Pack.TestClass_ProofFileDwnld@759d26fb]">RiskTeamAutomation</td> 
  <td>main@1678046232</td>   <td></td> </tr>
<tr bgcolor="d26d6b">  <td>23/07/17 11:34:31</td>   <td>-8097554</td> <td title="&gt;&gt;BaseClass.setUpSuite()[pri:0, instance:test_Pack.TestClass_ProofFileDwnld@759d26fb]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1678046232</td>   <td></td> </tr>
<tr bgcolor="85bfbb">  <td>23/07/17 11:34:31</td>   <td>-8097531</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestClass_ProofFileDwnld.setup()[pri:0, instance:test_Pack.TestClass_ProofFileDwnld@759d26fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1678046232</td>   <td></td> </tr>
</table>
